.special-text {
    color: red;
    font-style: italic;
}

.blue-text {
    color: blue;
}

.visible-table, .visible-table th, .visible-table td {
    border-style: solid;
    border-collapse: collapse;
    text-align: center;
    padding: 5px;
}
th {
    background-color: lightgray;
}

.popup-table, .popup-table th, .popup-table td {
    border-style: solid;
    border-collapse: collapse;
    text-align: center;
    padding: 5px;
}
.popup-table th {
    background-color: lightgray;
}

#popup {
    display: none;
    position: fixed;
    top: 30%;
    left: 30%;
    border: 10px;
    border-color: black;
    background-color: white;
    padding: 10px;
    z-index: 2;
}